/* App.css */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #F1F8E9;
  color: #2E7D32;
}

.title {
  text-align: center;
  color: #388E3C;
  margin-top: 20px;
}

.search-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #81C784;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
}

.plants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.plant-card {
  background-color: #E8F5E9;
  border: 1px solid #C8E6C9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.plant-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.plant-card h2 {
  color: #4CAF50;
  margin-bottom: 10px;
}

.plant-card p {
  margin: 5px 0;
}

button {
  background-color: #5c925e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6aa86d;
}

.watering-form {
  margin-top: 10px;
}

input[type="datetime-local"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #81C784;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"],
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: #388E3C;
}